.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    font-family: PingFangSC-Medium;
    font-weight: 500;
    font-size: 36px;
    color: yellowgreen;
  }
  .viewport {
    flex: 1;
    position: relative;
  }
  .faker {
    width: 100%;
    position: absolute;
  }
  .items {
    width: 100%;
    position: absolute;
  }
  .none {
    opacity: 0;
    z-index: -1;
    width: 100%;
    position: absolute;
  }
}
