.loading {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: #ffffff;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      display: block;
      width: 135px;
      height: 135px;
      margin: 0 auto;
      background: url("https://s21.lgstatic.com/growth/activity/20210412/1618215333540.gif");
      background-size: cover;
    }

    .message {
      margin-top: 20px;
      font-size: 28px;
      line-height: 40px;
      color: #999;
    }
  }
}
